.container,
.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.rest-table {
  overflow-x: scroll;
}

.rest-table,
.rest-table .flipped {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}

.fixed-table {
  overflow-x: hidden;
  margin-top: 15px;
  padding-left: 15px;
  flex: none;
}

.fixed-table .table-body {
  direction: rtl;
  margin-left: -15px;
}

.fixed-table .table-head {
  padding-left: 15px;
  margin-left: -15px;
}

.flipped {
  height: 100%;
}

.flipped,
.table {
  display: flex;
  flex-direction: column;
}

.table {
  overflow-y: hidden;
}

.container table {
  border-collapse: collapse;
  border-spacing: 0;
  direction: ltr;
}

.table-head {
  flex-grow: 0;
}

.table-head-row {
  background-color: #505050;
  color: #ffffff;
}

.table-body-row {
  color: #00994d;
}

.table-body-row:nth-child(2n) {
  background-color: #f0f0f0;
}

.table-body {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rest-table .table-body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.table-body-col,
.table-head-col {
  border: 1px solid #ccc;
  line-height: 28px;
}

